body{
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}
.outer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  overflow: hidden;
  width: 320px;
  height: 340px;
  display: flex;
  position: relative;
  transition: transform 0.6s ease-in-out;
  justify-content: center;
  margin: 0;
  border-radius: 12px;
  border-bottom-right-radius: 12px;
}
.login_ {
  background-color: rgba(238, 238, 238, 0.3);
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}
.sign_up{
  background-color: rgba(238, 238, 238, 0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top:0px;
  padding-bottom: 20px;
  padding-right: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}
.sign_up{
  transform: translateX(100%);
}
.login{
  display: flex;
  font-size: large;
  font-family: Roboto, Arial;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: black;
}
.sign_in{
  display: flex;
  font-size: large;
  font-family: Roboto, Arial;
  margin-top: 6px;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: black;
}
.content{
  margin-top: 4px;
  justify-content: center;
  text-align: center;
  color: #f9f7f7ed;
}
.a{
  color: black;
}
.user{
  color: black;
  position: relative;
  margin-right: 42px;
  margin-bottom: 12px;
  width: 180px;
}
.u{
  margin-left: 8px;
  padding-inline-start: 32px;
  padding-inline-end: 12px;
  padding-block-start: 6px;
  padding-block-end: 6px;
  color: black;
  border: 3px solid #643A6B;
  border-radius: 15px;
  background-color: #EEEEEE;
  box-shadow:  2px 6px 10px #643A6B;
  width: 100%;
}
.icon{
  display: inline-block;
  position: absolute;
  width: 27px;
  height: 28.5px;
  display: inline;
  padding-top: 2px;
  margin-left: 8px;
}
.password{
  margin-top: 30px;
  margin-right: 42px;
  width: 180px;
}
.forgot{
  margin-top: 8px;
  text-decoration: underline;
  color: #092635;
  font-size: small;
  justify-content: center;
  text-align: center;
}
.login_b{
  background-color: rgba(238, 238, 238,0.5);
  width: 200px;
  border-style: solid;
  border-color: #643A6B;
  cursor: pointer;
  border-radius: 18px;
  height: 36px;
  margin-left: 24px;
  font-size: 14px;
  padding-inline-start: 0%;
  transition-duration: 0.36s;
  box-shadow: 3px 3px 2px rgba(20, 20, 19, 0.4)
}
.login_b:hover{
  background-color: #643A6B;
  color: #EEEEEE;
  border-color: #EEEEEE;
  border-style: solid;
}
.signup-mode .login_ {
  transform: translateX(-100%);
}
.signup-mode .sign_up {
  transform: translateX(0);
}

.forgot {
  color: #092635;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}